# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignorer les fichiers package-lock
package-lock.json

# Ignorer les fichiers de configuration Firebase potentiellement sensibles
firebase-config.js
firebaseConfig.js

# Ignorer les autres fichiers sensibles
*.key
*.pem